.pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto;
  padding: 2rem 1rem;
  width: 600px;
  max-width: 90vw;
  list-style: none;
}

.pagination_wrapper ul,
.pagination_wrapper ol {
  padding: 0 !important;
  margin: 0 !important;
}

.pagination_item {
  padding: 0.5rem;
  margin: 0.2rem;
  background: var(--element-bg);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.pagination_link {
  padding: 0.3rem;
}

.pagination_item__active {
  background-color: var(--active-link);
}

.pagination_item__active,
.pagination_item:hover {
  transform: scale(1.1);
}

.pagination_link__active {
  color: var(--active-link-color);
}
