.App {
  background-color: var(--body-bg);
  min-height: 100vh;
}

.input_and_dropdown_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input_and_dropdown_wrapper > * {
  margin-bottom: 1rem;
}

.countries_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.pagination {
  max-width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .input_and_dropdown_wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
  }

  .countries_wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .input_and_dropdown_wrapper {
    padding: 0rem 5rem;
  }

  .countries_wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .countries_wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
