/* :root {

} */

* {
  /* transition: all linear 0.3s;
  font-family: "Nunito Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  transition: linear, background-color 0.3s linear, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
